doctype xml

mathbook

    docinfo
        latex-preamble
            package xypic
            package newpxtext
            package newpxmath


        include ./macros.pug

        feedback: url https://github.com/alexjbest/aut-forms-arthur-selberg/issues

        initialism AFAS

        analytics: google: tracking UA-48250536-1

        rename(element="inlineexercise" lang="en-US") Exercise

    article#aut-forms-arthur-selberg
        title Automorphic forms and the Arthur-Selberg trace formula
        subtitle MA842 BU Spring 2018

        frontmatter
            titlepage
                author: personname Salim Ali Altuğ

                date: today/

        include ./aut-forms-arthur-selberg.pug
